html, body {
    margin: 0;
    padding: 0;
}
.page{
    height: auto;
    min-height: 100vh;
}
.navBarParametres{
    height: 15vh;
    background-color: #f85050;
}
.navBarTitre{
    text-decoration: none;
    color: white;
}
.footer{
    height: 10vh;
    background-color: #f85050;
    margin-top: 5vh;
}
.cardAspect{
    width: 45vh;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;

}
.pokemonTextCard{
    font-size: x-large;
    font-weight: bold;
    margin-left: 1vh;
    padding: 1vh;
}
.pokemonBoxHeight{
    min-height: 70vh;
}
.linkFooter{
    text-decoration: none;
    color: #ffea00;
}
.pokeball{
    height: 5vh;
    width: 5vh;
    padding-right: 0;
    margin-right: 0;
}

.nameText{
    color: #f85050;
}
