html, body {
    margin: 0;
    padding: 0;
}
.page{
    height: auto;
    min-height: 100vh;
}
.navBarParametres{
    height: 15vh;
    background-color: darkseagreen;
}
.navBarTitre{
    text-decoration: none;
    color: white;
}
.footer{
    height: 10vh;
    background-color: darkseagreen;
    margin-top: 5vh;
}
.cardAspect{
    width: 45vh;
    height: auto;
    border: 2px solid #d8d82c;
    background-color: #303095;
    text-decoration-color: #d8d82c;
}
.pokemonTextCard{
    font-size: x-large;
    font-weight: bold;
    margin-left: 1vh;
    padding: 1vh;
}
.pokemonBoxHeight{
    min-height: 70vh;
}